body
{
	background-color: #262626;
	color: #f0f0f0;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

#logo
{
	width: 610px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
}

#logo a
{
	font-weight: 700;
	text-decoration: none;
	color: #f0f0f0;
}

#logo a:hover
{
	font-weight: 700;
	text-decoration: none;
	color: #f0f0f0;
}

#logo a:visited
{
	font-weight: 700;
	text-decoration: none;
	color: #f0f0f0;
}

#logoTop
{
	font-family: 'Lobster', cursive;
	font-weight: 700;
	font-size: 136px;
	text-align: center;
	margin-bottom: 0px;
	padding: 0px;
}

#logoBottom
{
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	text-align: right;
	margin-top: 0px;
	padding: 0px;
	margin-top: -25px;
}

#gifImage
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#searchBar
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 20px;
}

#searchBar > form > input[id=searchBarInput]
{
	width: 700px;
	height: 50px;
	font-size: 30px;
	text-align: left;
	color: #262626;
	padding: 20px;
	border: 2px solid #ddd;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	box-sizing: border-box;
	-webkit-box-shadow: -10px 0px 30px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: -10px 0px 30px 5px rgba(0,0,0,0.5);
	box-shadow: -10px 0px 30px 5px rgba(0,0,0,0.5);
	outline: none;
}

#searchBar > form > button[id=searchBarSubmit]
{
	width: 70px;
	height: 50px;
	font-size: 30px;
	text-align: left;
	color: #262626;
	background-color: #ffcede;
	border: 2px solid #ddd;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-sizing: border-box;
	-webkit-box-shadow: 10px 0px 30px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 0px 30px 5px rgba(0,0,0,0.5);
	box-shadow: 10px 0px 30px 5px rgba(0,0,0,0.5);
	outline: none;
	cursor: pointer;
}

#searchBar > form > input[id=searchBarNumber]
{
	width: 70px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	color: #262626;
	border: 2px solid #ddd;
	box-sizing: border-box;
	outline: none;
}

#searchResults
{
	text-align: center;
	margin-top: 100px;
}

.gif
{
	float: left;
	margin: 3px;
}

.gif > form > button[class=like]
{
	width: 22px;
	background-color: #262626;
	border: none;
	outline: none;
	cursor: pointer;
}

.gif > form > button[class=dislike]
{
	width: 24px;
	background-color: #262626;
	border: none;
	outline: none;
	cursor: pointer;
}

#scrollUpButton
{
	display: none;
	border-radius: 5px;
	width: 64px;
	height: 64px;
	text-decoration: none;
	background-image: url("../img/scrollUpButton.png");
	position: fixed;
	right: 40px;
	bottom: 60px;
}

/*fontello css*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92230815');
  src: url('../font/fontello.eot?92230815#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?92230815') format('woff2'),
       url('../font/fontello.woff?92230815') format('woff'),
       url('../font/fontello.ttf?92230815') format('truetype'),
       url('../font/fontello.svg?92230815#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  margin-left: .2em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; color: #97ff6b; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; color: #ff4e44; } /* '' */